 @media (max-width: $screen-xs-max) {
     // Mobile




    
 }

 @media (max-width: 576px) {
    // Mobile
    .mahindra_chat .panel-heading #chatTabs li a{
        font-size: 8px;
        padding: 4px 5px;
    }

    .mahindra_chat .mahindra_logo{
        width:70px;
    }

    
}